{% extends 'base.html' %}

{% block title %}
<title>Главная</title>
<style>
.back{
    background-image: url(/static/back.jpg);
}
</style>
{% endblock title %}

{% block body %}

{% for category, msg in get_flashed_messages(True) %}
<div class="flash {{ category }}">{{ msg }}</div>
{% endfor %}

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5 back">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light" style="color: black;-webkit-text-stroke-color: #ff0000;-webkit-text-stroke-width: 1.0px;"><strong>Оргинальные подарки</strong></h1>
        <p class="lead" style="color: black;-webkit-text-stroke-color: #ff0000;-webkit-text-stroke-width: 1.0px;"><strong>Присоединитесь к сообществу прямо сейчас</strong></p>
        <p>
          <a href="/auth" class="btn btn-primary my-2">Присоединиться</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for item in items %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/{{ item.article }}.{{ item.extension }}" height="225px" width="359px" alt="">
            <div class="card-body">
              <p class="card-text">{{ item.title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/{{ item.article }}" type="button" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                  <a href="/buy" type="button" class="btn btn-sm btn-outline-secondary">Купить</a>
                </div>
                <small class="text-muted">{{ item.price }} BYN</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</main>

{% endblock body %}