{% extends 'base.html' %}

{% block title %}
<title>Регистрация</title>
{% endblock title %}

{% block body %}
<div class="container">
    <h1>Зарегестрируйтесь и станьте частью GiftShop</h1>
    {% for category, msg in get_flashed_messages(True) %}
    <div class="flash {{ category }}">{{ msg }}</div>
    {% endfor %}
    <form method="post" enctype=multipart/form-data>

        <input type="text" class="form-control" name="mail" id="mail" placeholder="Mail" required><br>
        <input type="text" class="form-control" name="name" id="name" placeholder="Имя" required><br>
        <input type="text" class="form-control" name="number" id="number" placeholder="Телефон" required><br>
        <input type="password" class="form-control" name="pswd" id="pswd" placeholder="Пароль" required><br>
        <input type="password" class="form-control" name="ag_pswd" id="ag_pswd" placeholder="Повторите пароль" required><br>
        <button class="btn btn-warning" type="submit">Зарегестрироваться</button>

    </form>
</div>
{% endblock body %}
